<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <%= link_to potepan_product_path(taxon_product.id) do %>
      <div class="productImage clearfix">
        <%= image_tag(taxon_product.display_image.attachment(:product), alt: "#{taxon_product.name}") %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= taxon_product.name %></h5>
        <h3><%= taxon_product.display_price %></h3>
      </div>
    <% end %>
  </div>
</div>
