<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- UPPER LIGHT SECTION -->
  <%= render 'upper_light_section', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'product_category_list', taxonomies: @taxonomies %>
          <%= render 'color_category_list' %>
          <%= render 'size_category_list' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'filter_area' %>
          <div class="row">
            <%= render partial: 'product', collection: @products, as: "taxon_product" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- UNDER LIGHT SECTION -->
  <%= render 'layouts/under_light_section' %>
</div>
